version: '3'
services:
  mongo:
    image: mongo
    container_name: mongo2
    restart: always
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=admin
    ports:
       - 37017:27017
#      - 27017:27017
    volumes:
      - ./mongo-data:/data/db

